{%extends "base.html"%}

{%block title%}Home{% endblock %}

{%block body%}
    <div class="jumbotron">
        <h1>Skeleton</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>What's Included</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>MVC Structure</h3>
            <p>While there are many other flask templates out there, far too many are either structured poorly or are tied down to a specific method of deployment, or both.</p>
            <p>So Flask Foundation has a best practices setup with blueprints and SQLAlchemy models that will allow you to grow cleanly</p>
        </div>

        <div class="col-md-4">
            <h3>Flask Extensions</h3>
            <p>Several flask extensions are included to handle the common tasks of web developers. The included extensions are flask-login, flask-assets, flask-WTF, flask-cache, flask-script, and flask-sqlalchemy.</p>
        </div>

        <div class="col-md-4">
            <h3>Management Scripts</h3>
            <p>Using the Makefile, you can easily setup your development environment with a few simple commands. With the power of flask-script you can create your own commands with the flask app context setup for you.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Tests</h3>
            <p>Example tests, built with py.test, are included in to demonstrate how to test a flask app.</p>
        </div>

        <div class="col-md-4">
            <h3>Common Libraries</h3>
            <p>The CSS Library Bootstrap is included, along with the Javascript libraries modernizr and jQuery.</p>
        </div>
    </div>
{%endblock%}